# Babies Names

**names** = original df

**names_per_year** = the df used for analysis

## - Dataframes created

**names_per_year** = list of 2500+ given names and its number per year since 1900 

**rare** = where names = _PRENOMS_RARES

**no_year** = where year=XXXX

**rare2** = where names where given less than 80 times per year

**still_given** = names at least given once the past 10 years

**still_given_pop** = names at least given once the past 10 years + a positive popularity (increasing)

**Hyphen** = names with hyphen

**both_gender** = df with 2 column: names and neutral(1 if gender neutral, 0 if not)


## - Features to create

**Given_total** = the number of times the name was given

**Given_since_2013** = total count since 2013

**Given_yn** = if the name appears at least once since 2013

**Popularity** = % evolution since 2013

**Decade** = the decade the name was the most popular (1900-1910=1900s ; 1910-1920=1910s ; ... ; 2010-2022= since 2010)

**Lenght** = length of the names

**Neutral** = find same names given for gender=F and gender=M

**Hyphen** = names with hyphen (1=yes ; 0=no)

**Count** = how many years the name was given at least once

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
#!pip install unidecode

from unidecode import unidecode

In [4]:
names = pd.read_csv('nat2022.csv', delimiter=";")

In [5]:
names

        sexe        preusuel annais  nombre
0          1  _PRENOMS_RARES   1900    1249
1          1  _PRENOMS_RARES   1901    1342
2          1  _PRENOMS_RARES   1902    1330
3          1  _PRENOMS_RARES   1903    1286
4          1  _PRENOMS_RARES   1904    1430
...      ...             ...    ...     ...
703002     2           ZYNEB   2019       7
703003     2           ZYNEB   2020       8
703004     2           ZYNEB   2021       6
703005     2           ZYNEB   2022       4
703006     2           ZYNEB   XXXX      19

[703007 rows x 4 columns]

In [6]:
names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703007 entries, 0 to 703006
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   sexe      703007 non-null  int64
 1   preusuel  703005 non-null  object
 2   annais    703007 non-null  object
 3   nombre    703007 non-null  int64
dtypes: int64(2), object(2)
memory usage: 21.5+ MB

## Cleaning

In [7]:
names.sexe.value_counts()

sexe
2    381726
1    321281
Name: count, dtype: int64

In [8]:
names

        sexe        preusuel annais  nombre
0          1  _PRENOMS_RARES   1900    1249
1          1  _PRENOMS_RARES   1901    1342
2          1  _PRENOMS_RARES   1902    1330
3          1  _PRENOMS_RARES   1903    1286
4          1  _PRENOMS_RARES   1904    1430
...      ...             ...    ...     ...
703002     2           ZYNEB   2019       7
703003     2           ZYNEB   2020       8
703004     2           ZYNEB   2021       6
703005     2           ZYNEB   2022       4
703006     2           ZYNEB   XXXX      19

[703007 rows x 4 columns]

## Cleaning

In [9]:
names['sexe'].replace(1,'M',inplace=True)
names['sexe'].replace(2,'F',inplace=True)

In [10]:
names.rename(columns={"preusuel": "names", "annais": "year"}, inplace=True)
#names = names.drop(df[df['_PRENOMS_RARES']], axis=0)
#names = names.drop(df[df['annais']=='XXXX'], axis=0)

In [11]:
rare = names[names['names']=='_PRENOMS_RARES']
#rare

In [12]:
no_year = names[names['year']=='XXXX']
#no_year

In [13]:
names.drop(names.loc[names['names']=='_PRENOMS_RARES'].index, inplace=True)
names.drop(names.loc[names['year']=='XXXX'].index, inplace=True)

In [14]:
rare2 = names[names['nombre']<80]
#rare2 = name given less then 80 times

In [15]:
names.drop(names.loc[names['nombre']<80].index, inplace=True)

In [16]:
names.shape

(80633, 4)

In [17]:
names.names.value_counts(dropna=False)

names
CAMILLE      237
MARIE        186
CLAUDE       159
DOMINIQUE    152
CLÉMENT      123
            ...
HAZEL          1
ANNELIESE      1
SILA           1
HINA           1
STEEVY         1
Name: count, Length: 2915, dtype: int64

In [18]:
# we have 2915 distinct names

## creation of a new dataframe for the analysis

In [19]:
names_per_year = names.pivot_table(index=['names', 'sexe'], columns = ['year'], values = ['nombre']).reset_index()

In [20]:
names_per_year.head()

         names sexe nombre                                     ...          \
year                  1900 1901 1902 1903 1904 1905 1906 1907  ...    2013
0      AALIYAH    F    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   145.0
1        AARON    M    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  1907.0
2         ABBY    F    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   114.0
3     ABDALLAH    M    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   260.0
4        ABDEL    M    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...     NaN


year    2014    2015    2016    2017    2018    2019    2020    2021    2022
0      196.0   188.0   193.0   199.0   190.0   229.0   258.0   276.0   292.0
1     2054.0  2156.0  2372.0  2383.0  2250.0  2447.0  2316.0  2497.0  2287.0
2      163.0   115.0   144.0   155.0   188.0   195.0   212.0   268.0   237.0
3      273.0   312.0   269.0   254.0   243.0   193.0   191.0   147.0   155.0
4       80.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[5 rows x 125 columns]

In [21]:
names_per_year=names_per_year.fillna(0)

In [22]:
#to check
names[names['names']=='ABBY']

       sexe names  year  nombre
321600    F  ABBY  2007      83
321601    F  ABBY  2008      92
321602    F  ABBY  2009     105
321603    F  ABBY  2010     116
321604    F  ABBY  2011     113
321605    F  ABBY  2012     156
321606    F  ABBY  2013     114
321607    F  ABBY  2014     163
321608    F  ABBY  2015     115
321609    F  ABBY  2016     144
321610    F  ABBY  2017     155
321611    F  ABBY  2018     188
321612    F  ABBY  2019     195
321613    F  ABBY  2020     212
321614    F  ABBY  2021     268
321615    F  ABBY  2022     237

In [23]:
names_per_year.columns = ['_'.join(str(s).strip() for s in col if s) for col in names_per_year.columns]

In [24]:
names_per_year.rename(columns=lambda x: x.replace('nombre_', ''), inplace=True)

In [25]:
names_per_year

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,145.0,196.0,188.0,193.0,199.0,190.0,229.0,258.0,276.0,292.0
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1907.0,2054.0,2156.0,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,114.0,163.0,115.0,144.0,155.0,188.0,195.0,212.0,268.0,237.0
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,260.0,273.0,312.0,269.0,254.0,243.0,193.0,191.0,147.0,155.0
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,ÉRIC,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2950,ÉTHAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,196.0,200.0,193.0,217.0,175.0,193.0,167.0,170.0,115.0,145.0
2951,ÉVA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,161.0,185.0,166.0,206.0,185.0,216.0,218.0,215.0,203.0,197.0
2952,ÉVAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,89.0,80.0,0.0,86.0,86.0,80.0,100.0,113.0,81.0,0.0
2953,ÉZIO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,93.0

In [26]:
names_per_year.shape

(2954, 125)

In [27]:
names_per_year.sexe.value_counts()

sexe
F    1665
M    1289
Name: count, dtype: int64

In [28]:
# create a column called given = 1=Yes or 0=No
# No if the name has not been given the last 10 years

In [29]:
names_per_year.columns

Index(['names', 'sexe', '1900', '1901', '1902', '1903', '1904', '1905', '1906',
       '1907',
       ...
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022'],
      dtype='object', length=125)

In [30]:
names_per_year['given_since2013'] = names_per_year[['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022']].sum(axis=1)

In [31]:
names_per_year['given_yn'] = np.where(names_per_year['given_since2013'] == 0, 0, 1)

In [32]:
names_per_year.head(10)

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,...,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,188.0,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2156.0,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,115.0,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,312.0,269.0,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1
5,ABDELKADER,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,ABDELKRIM,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,ABDELLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,162.0,1
8,ABDOUL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,85.0,92.0,95.0,97.0,369.0,1
9,ABDOULAYE,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,136.0,117.0,147.0,183.0,149.0,181.0,177.0,200.0,1566.0,1

In [33]:
#create a popularity column = a % of evolution the past 10 years

In [34]:
names_per_year['popularity'] = (names_per_year['2022']-names_per_year[ '2013'])/names_per_year['2013']*100

In [35]:
names_per_year

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,...,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,269.0,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,ÉRIC,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN
2950,ÉTHAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,217.0,175.0,193.0,167.0,170.0,115.0,145.0,1771.0,1,-26.020408
2951,ÉVA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,206.0,185.0,216.0,218.0,215.0,203.0,197.0,1952.0,1,22.360248
2952,ÉVAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,86.0,86.0,80.0,100.0,113.0,81.0,0.0,715.0,1,-100.000000
2953,ÉZIO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,85.0,93.0,178.0,1,inf

In [36]:
#names_per_year.loc[names_per_year['given_yn']==0]

In [37]:
names_per_year.popularity = names_per_year.popularity.fillna('x')

In [38]:
pd.set_option('display.max_rows', 10)

In [39]:
#names_per_year.popularity.sort_values()

In [40]:
# The highest popularity before inf is 1172 so let's take 9999 to define infinite
# -9999 means

In [41]:
def clean_pop(row):
    # Check if 'popularity' column contains 'x'
    if row['popularity'] == 'x':
        if row['given_yn'] == 1:
            return  -100
        
        else: 
            return -9999
    elif row['popularity']> 1000000:
        return 9999
    else: 
        return row['popularity']

In [42]:
names_per_year.popularity = names_per_year.apply(clean_pop, axis=1)

In [43]:
pd.set_option('display.max_columns', 30)

In [44]:
names_per_year

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,145.0,175.0,145.0,196.0,188.0,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1766.0,1729.0,1907.0,2054.0,2156.0,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,113.0,156.0,114.0,163.0,115.0,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,187.0,205.0,260.0,273.0,312.0,269.0,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,87.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1,-100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,ÉRIC,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.000000
2950,ÉTHAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,137.0,203.0,196.0,200.0,193.0,217.0,175.0,193.0,167.0,170.0,115.0,145.0,1771.0,1,-26.020408
2951,ÉVA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,149.0,145.0,161.0,185.0,166.0,206.0,185.0,216.0,218.0,215.0,203.0,197.0,1952.0,1,22.360248
2952,ÉVAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,80.0,89.0,80.0,0.0,86.0,86.0,80.0,100.0,113.0,81.0,0.0,715.0,1,-100.000000
2953,ÉZIO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,93.0,178.0,1,9999.000000

In [45]:
# I want this column to stay numerical.
# -999999 means the name is not given

In [46]:
still_given = names_per_year[names_per_year['given_yn']==1]

In [47]:
still_given.head(10)

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,145.0,175.0,145.0,196.0,188.0,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1766.0,1729.0,1907.0,2054.0,2156.0,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,113.0,156.0,114.0,163.0,115.0,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,187.0,205.0,260.0,273.0,312.0,269.0,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,87.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1,-100.000000
7,ABDELLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,84.0,0.0,0.0,82.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,162.0,1,-100.000000
8,ABDOUL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,92.0,95.0,97.0,369.0,1,9999.000000
9,ABDOULAYE,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,115.0,124.0,149.0,127.0,136.0,117.0,147.0,183.0,149.0,181.0,177.0,200.0,1566.0,1,34.228188
10,ABDULLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,81.0,0.0,81.0,0.0,0.0,0.0,0.0,162.0,1,-100.000000
11,ABEL,M,428.0,506.0,519.0,499.0,476.0,522.0,510.0,538.0,522.0,572.0,524.0,490.0,503.0,...,303.0,398.0,433.0,452.0,502.0,513.0,544.0,553.0,612.0,621.0,676.0,669.0,5575.0,1,54.503464

In [48]:
still_given.shape

(1738, 128)

In [49]:
still_given.popularity.dtypes

dtype('float64')

In [50]:
still_given_pop = still_given[still_given['popularity']>0]

In [51]:
still_given_pop.shape

(667, 128)

In [52]:
still_given_pop.head()

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,145.0,175.0,145.0,196.0,188.0,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1766.0,1729.0,1907.0,2054.0,2156.0,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,113.0,156.0,114.0,163.0,115.0,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737
8,ABDOUL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,92.0,95.0,97.0,369.0,1,9999.000000
9,ABDOULAYE,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,115.0,124.0,149.0,127.0,136.0,117.0,147.0,183.0,149.0,181.0,177.0,200.0,1566.0,1,34.228188

In [53]:
# create a column lenght

In [54]:
names_per_year['lenght'] = names_per_year['names'].str.len()

In [55]:
names_per_year.head()

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,175.0,145.0,196.0,188.0,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310,7
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1729.0,1907.0,2054.0,2156.0,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586,5
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,156.0,114.0,163.0,115.0,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737,4
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,205.0,260.0,273.0,312.0,269.0,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615,8
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,87.0,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1,-100.000000,5

In [56]:
# create a column hyphen

In [57]:
names_per_year['hyphen'] = np.where(names_per_year['names'].str.contains('-'), 1,0)

In [58]:
names_per_year.head()

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,145.0,196.0,188.0,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310,7,0
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1907.0,2054.0,2156.0,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586,5,0
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,114.0,163.0,115.0,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737,4,0
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,260.0,273.0,312.0,269.0,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615,8,0
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1,-100.000000,5,0

In [59]:
names_per_year.loc[names_per_year['hyphen']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen
221,ANNA-MARIA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,10,1
227,ANNE-CATHERINE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,14,1
228,ANNE-CHARLOTTE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,14,1
229,ANNE-CLAIRE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,11,1
230,ANNE-CÉCILE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2348,PIERRE-LOUIS,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,12,1
2349,PIERRE-MARIE,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,12,1
2350,PIERRE-OLIVIER,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,14,1
2351,PIERRE-YVES,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,11,1
2445,ROSE-MARIE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.0,10,1

In [60]:
# create a gender neutral column

In [61]:
both_gender = names.pivot_table(index=['names'], columns = ['sexe'], aggfunc="sum" )

In [62]:
both_gender.columns = ['_'.join(str(s).strip() for s in col if s) for col in both_gender.columns]

In [63]:
both_gender.rename(columns=lambda x: x.replace('nombre_', ''), inplace=True)

In [64]:
both_gender = both_gender.drop(['year_F','year_M'], axis=1)

In [65]:
both_gender.fillna(0)

               F        M
names
AALIYAH   2714.0      0.0
AARON        0.0  33494.0
ABBY      2456.0      0.0
ABDALLAH     0.0   3915.0
ABDEL        0.0   1430.0
...          ...      ...
ÉRIC         0.0   1738.0
ÉTHAN        0.0   2111.0
ÉVA       2246.0      0.0
ÉVAN         0.0    795.0
ÉZIO         0.0    178.0

[2915 rows x 2 columns]

In [66]:
both_gender['F'] = np.where(both_gender['F']>0, 1,0)
both_gender['M'] = np.where(both_gender['M']>0, 1,0)
both_gender['neutral'] = both_gender['F'] + both_gender['M']

In [67]:
both_gender.value_counts()

F  M  neutral
1  0  1          1626
0  1  1          1250
1  1  2            39
Name: count, dtype: int64

In [68]:
both_gender = both_gender.drop(['F','M'], axis=1)

In [69]:
both_gender.neutral = both_gender['neutral'].replace(1, 0)
both_gender.neutral = both_gender['neutral'].replace(2, 1)

In [70]:
both_gender.value_counts()

neutral
0          2876
1            39
Name: count, dtype: int64

In [71]:
both_gender.head()

          neutral
names
AALIYAH         0
AARON           0
ABBY            0
ABDALLAH        0
ABDEL           0

In [72]:
names_per_year = pd.merge(names_per_year, both_gender, how='left', on=["names"])

In [73]:
names_per_year.shape

(2954, 131)

In [74]:
names_per_year[names_per_year['neutral']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral
114,ALIX,F,85.0,97.0,104.0,112.0,100.0,96.0,96.0,94.0,82.0,89.0,0.0,0.0,0.0,...,858.0,887.0,828.0,857.0,888.0,1164.0,1401.0,1349.0,1182.0,10116.0,1,68.376068,4,0,1
115,ALIX,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,188.0,175.0,159.0,191.0,190.0,183.0,179.0,211.0,178.0,1813.0,1,11.949686,4,0,1
176,ANAEL,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,5,0,1
177,ANAEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,5,0,1
191,ANDREA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,151.0,134.0,151.0,140.0,134.0,118.0,97.0,105.0,123.0,1264.0,1,10.810811,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,YAEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,4,0,1
2839,YANNICK,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,7,0,1
2840,YANNICK,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,7,0,1
2851,YAËL,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,96.0,96.0,110.0,115.0,87.0,587.0,1,4.819277,4,0,1
2852,YAËL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,138.0,132.0,124.0,133.0,144.0,159.0,151.0,186.0,171.0,1501.0,1,4.907975,4,0,1

In [75]:
# given_total : how many times in total since 1900

In [76]:
pd.set_option('display.max_rows', 10)

In [77]:
names_per_year.columns.values

array(['names', 'sexe', '1900', '1901', '1902', '1903', '1904', '1905',
       '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913',
       '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921',
       '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929',
       '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937',
       '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945',
       '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953',
       '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'given_since2013',
       'given_yn', 'popularity', 'lenght', 'hyphen', 'neutral'],
      dtype=object)

In [78]:
names_per_year['given_total'] = names_per_year[['1900', '1901', '1902', '1903', '1904', '1905',
       '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913',
       '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921',
       '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929',
       '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937',
       '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945',
       '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953',
       '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022']].sum(axis=1)

In [79]:
names_per_year

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2015,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,188.0,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310,7,0,0,2714.0
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2156.0,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586,5,0,0,33494.0
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,115.0,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737,4,0,0,2456.0
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,312.0,269.0,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615,8,0,0,3915.0
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1,-100.000000,5,0,0,1430.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,ÉRIC,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,4,0,0,1738.0
2950,ÉTHAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,193.0,217.0,175.0,193.0,167.0,170.0,115.0,145.0,1771.0,1,-26.020408,5,0,0,2111.0
2951,ÉVA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,166.0,206.0,185.0,216.0,218.0,215.0,203.0,197.0,1952.0,1,22.360248,3,0,0,2246.0
2952,ÉVAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,86.0,86.0,80.0,100.0,113.0,81.0,0.0,715.0,1,-100.000000,4,0,0,795.0
2953,ÉZIO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,85.0,93.0,178.0,1,9999.000000,4,0,0,178.0

In [80]:
#column count: total years the name was given at least once

In [81]:
years = names_per_year[['1900', '1901', '1902', '1903', '1904', '1905',
       '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913',
       '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921',
       '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929',
       '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937',
       '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945',
       '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953',
       '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022']]

In [82]:
#years

In [83]:
count=[]
for col in years:
    count = np.count_nonzero(years, axis=1)

In [84]:
count = pd.DataFrame(count)
count

       0
0     14
1     25
2     16
3     21
4     16
...   ..
2949  15
2950  12
2951  12
2952   9
2953   2

[2954 rows x 1 columns]

In [85]:
names_per_year = pd.concat([names_per_year, count], axis=1)

In [86]:
names_per_year.rename(columns={0: "count"}, inplace=True)

In [87]:
names_per_year.head()

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2016,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,193.0,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310,7,0,0,2714.0,14
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2372.0,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586,5,0,0,33494.0,25
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,144.0,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737,4,0,0,2456.0,16
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,269.0,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615,8,0,0,3915.0,21
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1,-100.000000,5,0,0,1430.0,16

In [88]:
#column top_names = create categories from the column

In [89]:
labels = ['Very Rare','Rare','Uncommon', 'Common', 'Popular', 'Very Popular']
names_per_year['category'] = pd.qcut(names_per_year['given_total'],6,labels=labels)

In [90]:
names_per_year['category'].value_counts()

category
Very Rare       493
Very Popular    493
Rare            492
Uncommon        492
Common          492
Popular         492
Name: count, dtype: int64

In [91]:
names_per_year.head()

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2017,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,199.0,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310,7,0,0,2714.0,14,Uncommon
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2383.0,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586,5,0,0,33494.0,25,Very Popular
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,155.0,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737,4,0,0,2456.0,16,Uncommon
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.0,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615,8,0,0,3915.0,21,Common
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,80.0,1,-100.000000,5,0,0,1430.0,16,Uncommon

In [92]:
#column decade = the decade where the name was the most popular

In [93]:
def get_decade(year):
    return str(year)[:3] + '0s'

# Extracting decade from column names
decades = {col: get_decade(col) for col in years.columns}

# Grouping columns by decade and summing their values
df_decades = years.groupby(decades, axis=1).sum()

# If you want to preserve the column names as the decade ranges
# df_decades.columns = [f'{decade}-{int(decade[:3])+9}' for decade in df_decades.columns]

# If you want to preserve the column names as simply the decade
df_decades.columns = df_decades.columns.str[:4] + 's'

# Displaying the resulting DataFrame
display(df_decades)

,1900s,1910s,1920s,1930s,1940s,1950s,1960s,1970s,1980s,1990s,2000s,2010s,2020s
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92.0,1796.0,826.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177.0,5547.0,20670.0,7100.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,280.0,1459.0,717.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1042.0,2380.0,493.0
4,0.0,0.0,0.0,0.0,0.0,0.0,252.0,363.0,648.0,0.0,0.0,167.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,0.0,0.0,0.0,0.0,0.0,0.0,1220.0,518.0,0.0,0.0,0.0,0.0,0.0
2950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1681.0,430.0
2951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1631.0,615.0
2952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,601.0,194.0
2953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,178.0

In [94]:
df_decades['decade_popularity'] = df_decades.idxmax(axis=1)

In [95]:
df_decades

,1900s,1910s,1920s,1930s,1940s,1950s,1960s,1970s,1980s,1990s,2000s,2010s,2020s,decade_popularity
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92.0,1796.0,826.0,2010s
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177.0,5547.0,20670.0,7100.0,2010s
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,280.0,1459.0,717.0,2010s
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1042.0,2380.0,493.0,2010s
4,0.0,0.0,0.0,0.0,0.0,0.0,252.0,363.0,648.0,0.0,0.0,167.0,0.0,1980s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,0.0,0.0,0.0,0.0,0.0,0.0,1220.0,518.0,0.0,0.0,0.0,0.0,0.0,1960s
2950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1681.0,430.0,2010s
2951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1631.0,615.0,2010s
2952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,601.0,194.0,2010s
2953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,178.0,2020s

In [96]:
df_decades2 = df_decades['decade_popularity']

In [97]:
names_per_year = pd.concat([names_per_year, df_decades2], axis=1)

In [98]:
names_per_year.head()

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2018,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,190.0,229.0,258.0,276.0,292.0,2166.0,1,101.379310,7,0,0,2714.0,14,Uncommon,2010s
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2250.0,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586,5,0,0,33494.0,25,Very Popular,2010s
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,188.0,195.0,212.0,268.0,237.0,1791.0,1,107.894737,4,0,0,2456.0,16,Uncommon,2010s
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,243.0,193.0,191.0,147.0,155.0,2297.0,1,-40.384615,8,0,0,3915.0,21,Common,2010s
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,80.0,1,-100.000000,5,0,0,1430.0,16,Uncommon,1980s

## Web Scraping

In [99]:
# nature names

In [100]:
from bs4 import BeautifulSoup
import requests

In [101]:
url = "https://www.pampers.fr/grossesse/prenoms-de-bebe/article/prenoms-de-fleurs"

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find the div containing the flower names
flower_div = soup.select('#to-main-content > div > div > div > div > div > div > div > div > p  ')

In [102]:
flower_div

[<p class="rich-text-text">Si vous êtes enceinte d’une petite fille, vous cherchez peut-être un prénom délicat et féminin et quoi de plus approprié qu’un prénom de fleur ? Certains sont assez courants mais d’autres sont plus inhabituels et un choix idéal pour que votre petite fille se démarque. Dans la suite de cet article, nous vous présentons de nombreux prénoms de fleurs mignons pour fille et vous donnons des informations sur les plantes dont ils proviennent. Avec un peu de chance, vous trouverez ici le prénom de fleur parfait pour votre fille.</p>,
 <p class="rich-text-text">1.  <b>Acacia.</b> Les arbres tels que les acacias, les tamarins ou les mimosas appartiennent à la famille des acacias. Le mot vient du grec pour « pointe » car les feuilles sont souvent comme des épines pour protéger l’arbre contre les herbivores. Le mimosa par exemple fait de très belles fleurs jaune vif en boules tandis que celui qu’on appelle « acacia » (mais qui n’en est pas un, c’est le robinier faux-acacia) donne de belles fleurs blanches en grappes comestibles (par exemple en beignets). C’est de ces fleurs que l’on fait le miel d’acacia.</p>,
 <p class="rich-text-text">2.  <b>Alysse.</b> Alysse et Alyssa peuvent être vus comme des variantes orthographiques d’Alice ou Alicia mais il faut savoir que l’alysse est en réalité une plante à fleurs souvent jaunes ou blanches particulièrement répandue dans le bassin méditerranéen. Son nom vient du grec et signifie « salutaire contre la rage ».</p>,
 <p class="rich-text-text">3.  <b>Amande.</b> Si vous aimez le prénom Amandine mais que vous le trouvez trop banal, vous pourriez vous tourner vers le prénom de fleur pour fille Amande. Les amandiers se couvrent de fleurs rose pâle ou blanches très odorantes avant de progressivement se couvrir de feuilles puis des fameuses amandes. Ce prénom de fleur pour fille pourrait vous séduire si vous appréciez particulièrement les amandes ou leur odeur, par exemple.</p>,
 <p class="rich-text-text">4.  <b>Amaryllis.</b> Le nom de cette belle fleur est tiré d’une œuvre de Virgile et vient du grec qui signifie « étinceler ». Ce prénom de fleur pour fille irait à ravir à une enfant qui respire la joie ou a un beau sourire.</p>,
 <p class="rich-text-text">5.  <b>Anémone.</b> Les anémones sont présentes un peu partout dans le monde et font des fleurs à larges pétales très colorées, tantôt blanches, rouges, violettes…</p>,
 <p class="rich-text-text">6.  <b>Astrée</b>. En grec, ce mot signifie « étoile » (pensez aux astres dans le ciel). Les fleurs peuvent être de formes variées, certaines ressemblant plus à des pâquerettes, d’autres plutôt à des chrysanthèmes. Elles ont généralement des pétales assez longs et pointus qui leur donnent en effet un aspect étoilé. Elles peuvent être bleues, violettes ou blanches, entre autres.</p>,
 <p class="rich-text-text">7.  <b>Azalée</b>. Les azalées font partie de la famille des rhododendrons et vous pourrez les voir se couvrir de fleurs roses ou violettes au printemps. Ce prénom saura à coup sûr toujours vous évoquer de belles taches de couleur, même si votre fille vous fera parfois voir rouge pendant son adolescence.</p>,
 <p class="rich-text-text">8.  <b>Cassia</b>. Le cassia est un arbre connu sous de nombreux noms, notamment cassier, canéficier, douche d’or ou pluie dorée. C’est un arbre originaire d’Asie du Sud et, comme son nom l’indique, il produit de longues grappes pendantes de fleurs jaunes. Ce serait un prénom de fleur idéal pour une petite fille qui pourrait avoir de longs cheveux blonds comme maman.</p>,
 <p class="rich-text-text">9.  <b>Clémentine</b>. La clémentine est le fruit du clémentinier, un arbre hybride issu d’un croisement entre un oranger et un mandarinier. Il possède des fleurs blanches similaires à celles de l’oranger à l’odeur tout aussi agréable. C’est aussi un prénom intéressant puisqu’on retrouve la racine Clément, qui signifie « qui fait preuve de clémence ». Cela peut donc en faire un prénom de fleur idéal pour une fille prompte à pardonner.</p>,
 <p class="rich-text-text">10.  <b>Cynthia</b>. Le prénom pour fille Cynthia est en réalité un prénom de fleur puisqu’il désigne la jacinthe ou hyacinthe. Cynthia est également un surnom attribué à Diane / Artémis, la déesse de la chasse des mythologies romaine et grecque. Les jacinthes font des grappes de fleurs très parfumées.</p>,
 <p class="rich-text-text">11.  <b>Dahlia</b>. Les dahlias sont des fleurs elles aussi très colorées, souvent en forme de boules. Elles sont cependant peu odorantes. Le dahlia est la fleur officielle du Mexique.</p>,
 <p class="rich-text-text">12.  <b>Églantine</b>. Les églantines sont des roses sauvages, poussant sur des arbustes épineux et dont les feuilles sentent la pomme. Le nom dérive du latin pour « piquant », puisque les tiges de ces fleurs sont munies d’épines. C’est un prénom de fleur pour fille relativement peu courant mais très poétique.</p>,
 <p class="rich-text-text">13.  <b>Flora</b>. Ce prénom pour fille signifie « fleur » en latin. Ce prénom était assez populaire pendant la Renaissance en Europe et était porté par la déesse du printemps et des fleurs dans la mythologie romaine.</p>,
 <p class="rich-text-text">14.  <b>Flore</b>. Dans la même veine, Flore est la version francisée du prénom de fleur pour fille Flora présenté ci-dessus. C’est également le mot que l’on utilise pour désigner l’ensemble du règne végétal, par opposition à la faune, qui désigne l’ensemble du règne animal.</p>,
 <p class="rich-text-text">15.  <b>Fleur</b>. Vous cherchez un prénom de fleur pour fille ? Vous avez de la chance, il n’est pas toujours nécessaire de faire compliqué et le prénom Fleur vous tend les bras.</p>,
 <p class="rich-text-text">16.  <b>Fleurette</b>. Le prénom pour fille Fleur vous plaît mais vous le trouvez trop « normal » ? Vous pourriez opter pour son diminutif, Fleurette, que l’on retrouve dans l’expression « conter fleurette », qui signifie « séduire, charmer par la conversation ». </p>,
 <p class="rich-text-text">17.  <b>Garance</b>. Vous ne le saviez peut-être pas, mais le prénom pour fille Garance vient également des fleurs. En effet, il s’agit d’une plante vivace qui produit de petites fleurs jaunes et dont les racines très rouges ont très longtemps été utilisées pour la teinture de tissu. C’est pour cela qu’on parle souvent de garance des teinturiers. Cela peut en faire un prénom de fleur original pour une fille dont la famille travaille dans cette industrie.</p>,
 <p class="rich-text-text">18.  <b>Gentiane</b>. C’est un prénom de fleur pour fille très peu usité. La gentiane est une variété de plante aux fleurs colorées, souvent très bleues ou très jaunes. Elle pousse plutôt en montagne et est notamment utilisée dans la fabrication de liqueurs ou d’apéritifs.</p>,
 <p class="rich-text-text">19.  <b>Hortense</b>. Le prénom Hortense vient des hortensias, dont les fleurs souvent blanches, bleues ou roses sont regroupées en boules ou demi-boules. On la retrouve sous de nombreuses latitudes, notamment au Japon.</p>,
 <p class="rich-text-text">20.  <b>Hyacinthe</b>. Dans la mythologie grecque, Hyacinthe est un jeune homme d’une grande beauté qui finit tué accidentellement par Apollon. Ce dernier transforme alors les gouttes de son sang en fleurs. À noter que Hyacinthe est un <a class="event_internal_link" data-action-detail="ENG_PREGNANCY_ARTICLE_HYPERLINK_ALL_article_prenoms-de-fleurs-flexible-1" href="https://www.pampers.fr/grossesse/prenoms-de-bebe/article/prenom-mixte" rel="noopener noreferrer" target="_self">prénom à l’origine masculin mais devenu mixte</a>.</p>,
 <p class="rich-text-text">21.  <b>Jasmine</b>. Le jasmin est une plante grimpante dont les fleurs, très parfumées, sont souvent utilisées en parfumerie. Ce nom est d’origine perse et signifie « don de Dieu ». Que vous aimiez sa signification ou son odeur, cela en fait un prénom de fleur merveilleux pour votre fille chérie.</p>,
 <p class="rich-text-text">22.  <b>Lila</b>. Ce petit arbuste fleurit au début du printemps et se couvre de fleurs blanches ou violettes. Il sent particulièrement bon et on le retrouve souvent dans les parcs et les jardins. Le nom viendrait également du lys. Quoi qu’il en soit, c’est un beau prénom de fleur pour fille encore plus exotique si vous l’orthographiez Lilla, à la hongroise.</p>,
 <p class="rich-text-text">23.  <b>Lily</b>. Cela ne vous saute peut-être pas immédiatement aux yeux vu la popularité actuelle du prénom, mais Lily est un prénom de fleur pour fille puisque c’est le nom anglais du lys. Et puisque la fleur de lys était l’emblème de la royauté française, cela peut en faire un <a class="event_internal_link" data-action-detail="ENG_PREGNANCY_ARTICLE_HYPERLINK_ALL_article_prenoms-de-fleurs-flexible-1" href="https://www.pampers.fr/grossesse/prenoms-de-bebe/article/prenoms-de-filles-plus-populaires-du-monde" rel="noopener noreferrer" target="_self">prénom international</a> idéal, par exemple pour une famille franco-anglaise.</p>,
 <p class="rich-text-text">24.  <b>Liliane</b>. Ce prénom est une variante du prénom de fleur pour fille Lily, qui désigne le lys. Dans le monde anglo-saxon, « Lilian » est aussi un diminutif du prénom Élisabeth.</p>,
 <p class="rich-text-text">25.  <b>Lys</b>. Le lys est une fleur blanche symbolisant la pureté et qui a servi pendant des siècles d’emblème à la royauté française. Si néanmoins vous trouvez les prénoms Alice ou Lise jolis mais un peu trop communs, ce prénom de fleur rare pour fille pourrait être une alternative.</p>,
 <p class="rich-text-text">26.  <b>Marguerite</b>. Le prénom de fleur pour fille Marguerite a été porté par de nombreuses femmes célèbres, notamment plusieurs reines de France ou les écrivaines Marguerite Yourcenar et Marguerite Duras. Au niveau floral, vous connaissez peut-être mieux la marguerite sous son autre nom, la pâquerette.</p>,
 <p class="rich-text-text">27.  <b>Marjolaine</b>. La marjolaine est une plante souvent utilisée en cuisine puisqu’elle a une saveur très proche de celle de l’origan. Elle est originaire du bassin méditerranéen et fait de petites fleurs blanches ou mauves. Ce prénom de fleur pour fille est assez rare, alors pourquoi ne pas le choisir pour que votre enfant se démarque ?</p>,
 <p class="rich-text-text">28.  <b>Muguette</b>. Le muguet est une plante vivace qui fleurit généralement vers la fin avril et le début du mois de mai. La plante produit des grappes de fleurs blanches en cloches, très caractéristiques et très odorantes, qu’il est coutume d’offrir le 1er mai. Elle est souvent utilisée en parfumerie. Attention cependant, toutes les parties de la plante sont très toxiques. Un peu comme une rose, cela peut être un joli prénom de fleur pour votre fille si vous aimez cette analogie avec quelque chose de beau et séduisant mais dont il faut cependant se méfier.</p>,
 <p class="rich-text-text">29.  <b>Narcisse</b>. Cette fleur de printemps peut être de nombreuses couleurs mais les plus connues sont les jaunes. Dans la mythologie grecque, Narcisse est un jeune homme d’une exceptionnelle beauté qui tombe amoureux de son reflet et finit par mourir d’amour. À l’endroit où repose son corps, on découvre les fleurs qui portent son nom et que l’on appelle aussi jonquilles. Ce prénom de fleur pour fille peut aussi être porté par les garçons. </p>,
 <p class="rich-text-text">30.  <b>Olive</b>. L’olivier est cultivé depuis plusieurs millénaires dans le bassin méditerranéen et si vous connaissez certainement les olives, vous ne saviez peut-être pas qu’un olivier produit de petites grappes de fleurs blanches. Ce prénom de fleur pour fille est très peu usité et pourrait être une bonne option si vous cherchez quelque chose d’original.</p>,
 <p class="rich-text-text">31.  <b>Pâquerette</b>. Cette petite fleur blanche fait partie des plantes les plus connues et pousse très facilement dans les prés. Comme beaucoup de plantes très répandues, elle possède plusieurs noms comme pâquerette, marguerite ou, en anglais, daisy (qui signifie « œil du jour »). Ces trois noms sont également utilisés comme prénoms de fleur pour fille.</p>,
 <p class="rich-text-text">32.  <b>Pimprenelle</b>. La pimprenelle est une plante à fleurs rouges et jaunes dont les feuilles sont parfois utilisées comme aromates. C’est un prénom de fleur pour fille très rare et cela pourrait vous séduire. C’est également le nom de l’héroïne de l’émission pour enfants des années 60 « Bonne nuit les petits » et de l’une des fées dans le dessin animé « La Belle au bois dormant ».</p>,
 <p class="rich-text-text">33.  <b>Pomme</b>. Les pommiers sont des arbres fruitiers dont les branches se chargent au printemps de nombreuses fleurs souvent blanches, parfois rose pâle, avant de donner les fruits que vous connaissez.</p>,
 <p class="rich-text-text">34.  <b>Praline</b>. Une praline est généralement un bonbon constitué d’une amande ou noisette cuite dans du sucre. On les retrouve dans de nombreux desserts et, écrasées avec du chocolat, elles deviennent du praliné. Si la praline n’est pas en soi une fleur, on utilise souvent le mot de manière abusive pour désigner les noisettes ou les amandes, qui sont les fruits d’arbres très répandus et à la floraison marquée : jaunes et en grappes pour le noisetier, rose pâle pour l’amandier.</p>,
 <p class="rich-text-text">35.  <b>Samantha</b>. Il s’agit d’une variante féminine du prénom Samuel, auquel le suffixe grec -<i>anthos</i>, qui signifie « fleur », a été rajouté. S’il ne désigne pas une fleur à proprement parler, ce prénom a de belles connotations florales en plus d’avoir un petit côté classique.</p>,
 <p class="rich-text-text">36.  <b>Saule</b>. Ce prénom peut être vu comme une version féminisée du prénom hébreu Saul ou comme le nom d’un arbre. Les saules pleureurs sont notamment l’exemple parfait d’arbre aux branches tombantes qui font comme un rideau, souvent au bord des lacs et on le retrouve dans de nombreuses peintures ou autres œuvres d’art. Il fait de longues fleurs tombantes. C’est très romantique et cela peut donc être un prénom de fleur parfait pour votre fille.</p>,
 <p class="rich-text-text">37.  <b>Suzanne</b>. Ce prénom de fleur pour fille vient de l’hébreu Shoshannah, qui désigne le lys et, en hébreu moderne, la rose. De plus, vous avez l’embarras du choix puisqu’il existe de nombreuses variantes à ce prénom : Shoshannah, Susan, Suzanne ou Susannah.</p>,
 <p class="rich-text-text">38.  <b>Véronique</b>. Vous saviez peut-être que le prénom Véronique est la variante latine du prénom Bérénice mais c’est aussi le nom d’une plante utilisée en médecine mais aussi parfois en cuisine ou en tisane (par exemple en Autriche). Elle produit de jolies petites fleurs violettes. Cela pourrait être un bon choix si vous cherchez un prénom de fleur pour votre fille mais que vous préférez une référence discrète au monde végétal.</p>,
 <p class="rich-text-text">39.  <b>Yolande</b>. Ce prénom viendrait du latin ou du grec et désignerait la violette. Il existe plusieurs versions de ce prénom de fleur pour fille, notamment Jolanta en slovaque, Yolanda en espagnol ou Iolanthe en grec.</p>,
 <p class="rich-text-text">40.  <b>Rose</b>. Pas besoin de présenter ce prénom. De plus, il n’y a pas de mal à faire dans la simplicité. Rose est un prénom de fleur pour fille élégant et sobre qui plaira à tout le monde, que votre fille soit plutôt « fleur douce » ou « épine ».</p>,
 <p class="rich-text-text">41.  <b>Rosalie</b>. Ce prénom dérive de « rosa », le mot latin pour la rose. Les rosalies étaient des célébrations florales à l’époque romaine. Ce prénom de fleur pour fille pourrait donc vous convenir si vous cherchez quelque chose d’un peu plus original ou si votre enfant est née au printemps.</p>,
 <p class="rich-text-text">42.  <b>Rosanne</b>. Le prénom Rosanne peut également s’écrire Rose-Anne. C’est simplement le mélange de ces deux prénoms.</p>,
 <p class="rich-text-text">43.  <b>Roselyne</b>. Il s’agit d’un prénom composé de Rose et de Line, ce dernier pouvant être un diminutif d’Adeline, Caroline, etc. On peut l’orthographier Roseline ou Roselyne.</p>,
 <p class="rich-text-text">44.  <b>Rosemarie</b>. Rosemarie peut aussi s’écrire Rose-Marie. En anglais, Rosemary désigne aussi le romarin, un arbuste particulièrement répandu dans le bassin méditerranéen et dont les feuilles en épingle sont utilisées en cuisine (c’est une des herbes de Provence). Le romarin fait aussi de belles petites fleurs violettes odorantes.</p>,
 <p class="rich-text-text">45.  <b>Rosemonde</b>. Il s’agit d’un <a class="event_internal_link" data-action-detail="ENG_PREGNANCY_ARTICLE_HYPERLINK_ALL_article_prenoms-de-fleurs-flexible-1" href="https://www.pampers.fr/grossesse/prenoms-de-bebe/article/prenom-fille-ancien" rel="noopener noreferrer" target="_self">prénom ancien pour fille</a> qui se traduit par « rose pure » en latin mais peut aussi être rattaché aux racines germaniques pour « cheval » et « protection ». </p>,
 <p class="rich-text-text">46.  <b>Rosette</b>. Comme pour Fleurette ci-dessus, si vous aimez le prénom Rose mais trouvez que c’est un prénom de fleur pour fille un peu trop classique, vous pourriez lui accoler le diminutif -ette. Les rosettes sont aussi de petits insignes en forme de rosace portés à la boutonnière. </p>,
 <p class="rich-text-text">47.  <b>Rosie</b>. Il s’agit là aussi d’un diminutif de Rose, même si ce prénom est techniquement plus long d’une lettre. Cela vous permet un peu de variété si vous trouvez le prénom de fleur pour fille Rose un peu trop terne.</p>,
 <p class="rich-text-text">48.  <b>Bleuette</b>. Difficile de parler de prénoms de fleur pour fille qui évoquent le bleu sans mentionner le bleuet. Il s’agit d’une fleur sauvage qui pousse souvent dans les champs et se distingue par ses petites fleurs très bleues, qui sont également comestibles.</p>,
 <p class="rich-text-text">49.  <b>Hortensia</b>. Le prénom Hortensia vient de la plante appelée hydrangea, qui signifie « vase d’eau », l’appellation courante « hortensia » n’étant pas tout à fait exacte. Ses fleurs sont souvent blanches, bleues ou roses et sont regroupées en boules ou demi-boules. Ce prénom de fleur pour fille rare existe également sous la forme Hortense, elle aussi peu usitée.</p>,
 <p class="rich-text-text">50.  <b>Iris</b>. En grec, le mot « iris » signifie « arc-en-ciel » et c’est également le nom de la déesse qui leur est associée. Les iris sont souvent d’un beau violet et d’un aspect assez unique : cela peut en faire le prénom de fleur idéal pour une fille exceptionnelle.</p>,
 <p class="rich-text-text">51.  <b>Myosotis</b>. Le mot myosotis vient du grec et signifie « oreille de souris » car cette plante a des feuilles arrondies et velues qui peuvent faire penser à celles-ci. Cette plante produit des fleurs en grappes, le plus souvent d’un beau bleu. En anglais, on les appelle souvent « forget-me-not », ce qui signifie « ne m’oubliez pas ». Cela pourrait en faire un prénom de fleur idéal pour une petite fille inoubliable.2</p>,
 <p class="rich-text-text">52.  <b>Myrtille</b>. Cet arbrisseau rampant pousse en fourrés et produit les fruits du même nom, de couleur bleu-noir, comestibles et souvent utilisés en confiture ou sur des tartes. Les fleurs sont pâles ou rosâtres mais la plupart des gens associeraient ce prénom à une couleur bleue très foncée.</p>,
 <p class="rich-text-text">53.  <b>Pensée</b>. Les pensées appartiennent à la famille des violettes et, comme elles, produisent de petites fleurs de cette même couleur. On peut les utiliser en parfumerie ou en cuisine, par exemple en confiserie lors de la confection de bonbons à la violette.</p>,

In [103]:
names = []
data = []

for i, element in enumerate(flower_div):
        names = element.select('b')
      
        print(f"{i + 1}. {names}")
        
        data.append([names])

flower_names = pd.DataFrame(data, columns=['names'])

1. []
2. [<b>Acacia.</b>]
3. [<b>Alysse.</b>]
4. [<b>Amande.</b>]
5. [<b>Amaryllis.</b>]
6. [<b>Anémone.</b>]
7. [<b>Astrée</b>]
8. [<b>Azalée</b>]
9. [<b>Cassia</b>]
10. [<b>Clémentine</b>]
11. [<b>Cynthia</b>]
12. [<b>Dahlia</b>]
13. [<b>Églantine</b>]
14. [<b>Flora</b>]
15. [<b>Flore</b>]
16. [<b>Fleur</b>]
17. [<b>Fleurette</b>]
18. [<b>Garance</b>]
19. [<b>Gentiane</b>]
20. [<b>Hortense</b>]
21. [<b>Hyacinthe</b>]
22. [<b>Jasmine</b>]
23. [<b>Lila</b>]
24. [<b>Lily</b>]
25. [<b>Liliane</b>]
26. [<b>Lys</b>]
27. [<b>Marguerite</b>]
28. [<b>Marjolaine</b>]
29. [<b>Muguette</b>]
30. [<b>Narcisse</b>]
31. [<b>Olive</b>]
32. [<b>Pâquerette</b>]
33. [<b>Pimprenelle</b>]
34. [<b>Pomme</b>]
35. [<b>Praline</b>]
36. [<b>Samantha</b>]
37. [<b>Saule</b>]
38. [<b>Suzanne</b>]
39. [<b>Véronique</b>]
40. [<b>Yolande</b>]
41. [<b>Rose</b>]
42. [<b>Rosalie</b>]
43. [<b>Rosanne</b>]
44. [<b>Roselyne</b>]
45. [<b>Rosemarie</b>]
46. [<b>Rosemonde</b>]
47. [<b>Rosette</b>]
48. [<b>Rosie</b>]
49. [<b>Bleuette</b>]
50. [<b>Hortensia</b>]
51. [<b>Iris</b>]
52. [<b>Myosotis</b>]
53. [<b>Myrtille</b>]
54. [<b>Pensée</b>]
55. [<b>Pervenche</b>]
56. [<b>Prune</b>]
57. [<b>Violette</b>]
58. [<b>Bégonia</b>]
59. [<b>Camélia</b>]
60. [<b>Cassis</b>]
61. [<b>Cerise</b>]
62. [<b>Framboise</b>]
63. [<b>Magnolia</b>]
64. [<b>Pivoine</b>]
65. [<b>Valériane</b>]
66. [<b>Calla</b>]
67. [<b>Daisy</b>]
68. [<b>Hazel</b>]
69. [<b>Heather</b>]
70. [<b>Holly</b>]
71. [<b>Ivy</b>]
72. [<b>Kamala</b>]
73. [<b>Lavender</b>]
74. [<b>Petal</b>]
75. [<b>Petunia</b>]
76. [<b>Poppy</b>]
77. [<b>Primrose</b>]
78. [<b>Raissa</b>]
79. [<b>Ren</b>]
80. [<b>Rhoda</b>]
81. [<b>Tulip</b>]
82. [<b>Willow</b>]
83. [<b>Zahara</b>]
84. [<b>Zaynab</b>]
85. []
86. []
87. [<b><sub>Comment cet article a-t-il été rédigé</sub></b>]
88. []

In [104]:
flower_names = []

for paragraph in flower_div:
    
    bold_tags = paragraph.find_all('b')
    for bold_tag in bold_tags:
        flower_name = bold_tag.text.strip()
        # Remove the dot if it exists at the end of the flower name
        flower_name = flower_name.rstrip('.')
        flower_names.append(flower_name)
    
# Create a DataFrame with the flower names
flower_names = pd.DataFrame(flower_names, columns=['names'])

In [105]:
flower_names

                                    names
0                                  Acacia
1                                  Alysse
2                                  Amande
3                               Amaryllis
4                                 Anémone
..                                    ...
79                                  Tulip
80                                 Willow
81                                 Zahara
82                                 Zaynab
83  Comment cet article a-t-il été rédigé

[84 rows x 1 columns]

In [106]:
flower_names= flower_names.drop([83], axis=0)

In [107]:
flower_names['names'] = flower_names['names'].str.upper()

In [108]:
flower_names.head()

       names
0     ACACIA
1     ALYSSE
2     AMANDE
3  AMARYLLIS
4    ANÉMONE

In [109]:
def dealing_accent(df):
    df2 = df.copy()
    stringList = df.names
    
    for i in range(len(stringList)):
        stringList[i] = unidecode(stringList[i])

    df3 = pd.concat([df2, df], axis=0)
    df3 = df3.drop_duplicates(subset=['names'])
    
    return df3

In [110]:
flower_names_result = dealing_accent(flower_names)
flower_names_result.shape

(94, 1)

In [111]:
flower_names_result

        names
0      ACACIA
1      ALYSSE
2      AMANDE
3   AMARYLLIS
4     ANÉMONE
..        ...
37  VERONIQUE
52     PENSEE
56    BEGONIA
57    CAMELIA
63  VALERIANE

[94 rows x 1 columns]

In [112]:
def adding_to_df(df1, df2, col):
    df1[col] = 1
    df2 = pd.merge(df2, df1, how='left', on=["names"])
    df2[col] = df2[col].fillna(0)
    
    return df2

In [113]:
names_per_year = adding_to_df(flower_names_result, names_per_year, 'flower_names')

In [114]:
names_per_year

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,229.0,258.0,276.0,292.0,2166.0,1,101.379310,7,0,0,2714.0,14,Uncommon,2010s,0.0
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586,5,0,0,33494.0,25,Very Popular,2010s,0.0
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,195.0,212.0,268.0,237.0,1791.0,1,107.894737,4,0,0,2456.0,16,Uncommon,2010s,0.0
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,193.0,191.0,147.0,155.0,2297.0,1,-40.384615,8,0,0,3915.0,21,Common,2010s,0.0
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,80.0,1,-100.000000,5,0,0,1430.0,16,Uncommon,1980s,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949,ÉRIC,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,4,0,0,1738.0,15,Uncommon,1960s,0.0
2950,ÉTHAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,167.0,170.0,115.0,145.0,1771.0,1,-26.020408,5,0,0,2111.0,12,Uncommon,2010s,0.0
2951,ÉVA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,218.0,215.0,203.0,197.0,1952.0,1,22.360248,3,0,0,2246.0,12,Uncommon,2010s,0.0
2952,ÉVAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,113.0,81.0,0.0,715.0,1,-100.000000,4,0,0,795.0,9,Rare,2010s,0.0
2953,ÉZIO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,85.0,93.0,178.0,1,9999.000000,4,0,0,178.0,2,Very Rare,2020s,0.0

In [115]:
names_per_year.head()

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,229.0,258.0,276.0,292.0,2166.0,1,101.379310,7,0,0,2714.0,14,Uncommon,2010s,0.0
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2447.0,2316.0,2497.0,2287.0,22669.0,1,19.926586,5,0,0,33494.0,25,Very Popular,2010s,0.0
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,195.0,212.0,268.0,237.0,1791.0,1,107.894737,4,0,0,2456.0,16,Uncommon,2010s,0.0
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,193.0,191.0,147.0,155.0,2297.0,1,-40.384615,8,0,0,3915.0,21,Common,2010s,0.0
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,80.0,1,-100.000000,5,0,0,1430.0,16,Uncommon,1980s,0.0

In [116]:
names_per_year.loc[names_per_year['flower_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2019,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names
419,CAMELIA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,382.0,1,-100.000000,7,0,0,861.0,6,Rare,2010s,1.0
426,CAMÉLIA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,380.0,358.0,451.0,393.0,3510.0,1,30.132450,7,0,0,8311.0,30,Popular,2010s,1.0
467,CERISE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,6,0,0,343.0,3,Very Rare,2000s,1.0
531,CLEMENTINE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,10,0,0,519.0,3,Rare,2010s,1.0
543,CLÉMENTINE,F,529.0,571.0,524.0,530.0,507.0,511.0,492.0,447.0,452.0,445.0,434.0,380.0,401.0,...,270.0,224.0,237.0,169.0,3309.0,1,-63.811563,10,0,0,36046.0,80,Very Popular,1990s,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,VIOLETTE,F,0.0,0.0,0.0,0.0,83.0,80.0,94.0,108.0,156.0,135.0,107.0,158.0,165.0,...,237.0,224.0,211.0,223.0,2452.0,1,-39.729730,8,0,0,22151.0,102,Popular,2010s,1.0
2801,VÉRONIQUE,F,0.0,92.0,0.0,86.0,80.0,81.0,83.0,85.0,0.0,89.0,81.0,0.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,9,0,0,233459.0,69,Very Popular,1960s,1.0
2818,WILLOW,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,93.0,102.0,195.0,1,9999.000000,6,0,0,195.0,2,Very Rare,2020s,1.0
2865,YOLANDE,F,0.0,90.0,87.0,87.0,133.0,137.0,112.0,165.0,189.0,198.0,278.0,277.0,296.0,...,0.0,0.0,0.0,0.0,0.0,0,-9999.000000,7,0,0,53049.0,78,Very Popular,1950s,1.0
2902,ZAYNAB,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,117.0,131.0,155.0,135.0,1078.0,1,9999.000000,6,0,0,1078.0,9,Rare,2010s,1.0

In [117]:
# origin names
#1 arabic names

In [118]:
arab_names = []
for i in range(1,5):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:56/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
            # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        arab_names.append(name)

# Create a DataFrame with the names
arabic_names = pd.DataFrame(arab_names, columns=['names'])
print(arabic_names.shape)
arabic_names.head()

Status code: 200
Status code: 200
Status code: 200
Status code: 200
(544, 1)

   names
0   INÈS
1  KAYLA
2   NORA
3  AHMED
4  MANEL

In [119]:
arabic_names_result = dealing_accent(arabic_names)
arabic_names_result.shape

(545, 1)

In [120]:
names_per_year = adding_to_df(arabic_names_result, names_per_year, 'arabic_names')

In [121]:
pd.set_option('display.max_rows', 100)

In [122]:
# just add the name I am sure they are arabic but were not in the scraping list
names_per_year.loc[names_per_year['names'] == 'AALIYAH', ['arabic_names']] = 1
names_per_year.loc[names_per_year['names'].str.startswith('ABD'), ['arabic_names']] = 1

In [123]:
names_per_year.loc[names_per_year['arabic_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2020,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,258.0,276.0,292.0,2166.0,1,101.379310,7,0,0,2714.0,14,Uncommon,2010s,0.0,1.0
3,ABDALLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,191.0,147.0,155.0,2297.0,1,-40.384615,8,0,0,3915.0,21,Common,2010s,0.0,1.0
4,ABDEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,80.0,1,-100.000000,5,0,0,1430.0,16,Uncommon,1980s,0.0,1.0
5,ABDELKADER,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,-9999.000000,10,0,0,8824.0,49,Popular,1970s,0.0,1.0
6,ABDELKRIM,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,-9999.000000,9,0,0,853.0,10,Rare,1960s,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2896,ZAKARIA,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,481.0,508.0,530.0,5293.0,1,3.921569,7,0,0,12811.0,39,Popular,2010s,0.0,1.0
2902,ZAYNAB,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,131.0,155.0,135.0,1078.0,1,9999.000000,6,0,0,1078.0,9,Rare,2010s,1.0,1.0
2912,ZINEB,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,629.0,1,-100.000000,5,0,0,1459.0,14,Uncommon,2010s,0.0,1.0
2913,ZINEDINE,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,-9999.000000,8,0,0,1365.0,12,Uncommon,2000s,0.0,1.0
2916,ZOHRA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,81.0,283.0,1,9999.000000,5,0,0,4575.0,35,Common,1970s,0.0,1.0

In [124]:
# origin names
#2 greek names

In [125]:
greek_names = []
for i in range(1,7):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:30/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
            # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        greek_names.append(name)

# Create a DataFrame with the names
greek_names = pd.DataFrame(greek_names, columns=['names'])
print(greek_names.shape)
greek_names.head()

Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
(817, 1)

      names
0    EUGENE
1   MÉLANIE
2   DOROTHY
3  ANGELINA
4     DORIS

In [126]:
greek_names_result = dealing_accent(greek_names)
greek_names_result.shape

(829, 1)

In [127]:
names_per_year = adding_to_df(greek_names_result, names_per_year, 'greek_names')

In [128]:
names_per_year.loc[names_per_year['greek_names'] == 1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2021,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names
48,AGATHE,F,111.0,100.0,123.0,110.0,114.0,104.0,94.0,100.0,102.0,113.0,91.0,83.0,114.0,...,2020.0,1958.0,17584.0,1,41.884058,6,0,0,54441.0,74,Very Popular,2010s,0.0,0.0,1.0
50,AGNÈS,F,422.0,433.0,464.0,448.0,494.0,497.0,472.0,502.0,547.0,552.0,538.0,572.0,568.0,...,82.0,85.0,654.0,1,9999.000000,5,0,0,112470.0,116,Very Popular,1960s,0.0,0.0,1.0
62,AISSA,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,-9999.000000,5,0,0,284.0,3,Very Rare,2000s,0.0,0.0,1.0
84,ALESSANDRO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,122.0,120.0,1303.0,1,-28.143713,10,0,0,2913.0,21,Common,2010s,0.0,0.0,1.0
87,ALEX,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,273.0,198.0,3337.0,1,-55.605381,4,0,0,30342.0,83,Very Popular,2000s,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2767,ULYSSE,M,82.0,94.0,81.0,93.0,97.0,85.0,91.0,84.0,88.0,91.0,92.0,84.0,86.0,...,532.0,457.0,3889.0,1,50.825083,6,0,0,9352.0,46,Popular,2010s,0.0,0.0,1.0
2801,VÉRONIQUE,F,0.0,92.0,0.0,86.0,80.0,81.0,83.0,85.0,0.0,89.0,81.0,0.0,80.0,...,0.0,0.0,0.0,0,-9999.000000,9,0,0,233459.0,69,Very Popular,1960s,1.0,0.0,1.0
2874,YOURI,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,83.0,0.0,83.0,1,-100.000000,5,0,0,886.0,9,Rare,1990s,0.0,0.0,1.0
2915,ZOE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1441.0,1,-100.000000,3,0,0,4603.0,8,Common,2010s,0.0,0.0,1.0
2918,ZOÉ,F,131.0,146.0,138.0,158.0,124.0,130.0,113.0,105.0,109.0,123.0,104.0,95.0,81.0,...,1840.0,1523.0,22045.0,1,-50.423177,3,0,0,63345.0,53,Very Popular,2000s,0.0,0.0,1.0

In [129]:
# origin names
#3 american names

In [130]:
american_names = []
for i in range(1,12):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:52/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
            # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        american_names.append(name)

# Create a DataFrame with the names
american_names = pd.DataFrame(american_names, columns=['names'])
print(american_names.shape)
american_names.head()

Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
(1474, 1)

      names
0    ALEXIS
1  CLARENCE
2      ERIK
3     JAMIE
4    NORMAN

In [131]:
american_names_result = dealing_accent(american_names)
american_names_result.shape

(1489, 1)

In [132]:
american_names_result.names.sort_values()

1360     AALIYAH
107        AARON
1389       ABBIE
1416        ABBY
754     ABDULLAH
          ...
1283        ZION
475          ZOE
746         ZOEY
475          ZOÉ
1336        ÉDEN
Name: names, Length: 1489, dtype: object

In [133]:
names_per_year = adding_to_df(american_names_result, names_per_year, 'american_names')

In [134]:
names_per_year.loc[names_per_year['american_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,2022,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names
0,AALIYAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,292.0,2166.0,1,101.379310,7,0,0,2714.0,14,Uncommon,2010s,0.0,1.0,0.0,1.0
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2287.0,22669.0,1,19.926586,5,0,0,33494.0,25,Very Popular,2010s,0.0,0.0,0.0,1.0
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,237.0,1791.0,1,107.894737,4,0,0,2456.0,16,Uncommon,2010s,0.0,0.0,0.0,1.0
10,ABDULLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,162.0,1,-100.000000,8,0,0,162.0,2,Very Rare,2010s,0.0,1.0,0.0,1.0
11,ABEL,M,428.0,506.0,519.0,499.0,476.0,522.0,510.0,538.0,522.0,572.0,524.0,490.0,503.0,...,669.0,5575.0,1,54.503464,4,0,0,25221.0,76,Popular,1900s,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2893,ZACHARY,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,708.0,1,-100.000000,7,0,0,1685.0,17,Uncommon,2010s,0.0,0.0,0.0,1.0
2894,ZACK,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,211.0,1589.0,1,77.310924,4,0,0,1760.0,12,Uncommon,2010s,0.0,0.0,0.0,1.0
2915,ZOE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1441.0,1,-100.000000,3,0,0,4603.0,8,Common,2010s,0.0,0.0,1.0,1.0
2918,ZOÉ,F,131.0,146.0,138.0,158.0,124.0,130.0,113.0,105.0,109.0,123.0,104.0,95.0,81.0,...,1523.0,22045.0,1,-50.423177,3,0,0,63345.0,53,Very Popular,2000s,0.0,0.0,1.0,1.0
2924,ÉDEN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,356.0,1792.0,1,9999.000000,4,0,0,1792.0,9,Uncommon,2020s,0.0,0.0,0.0,1.0

In [135]:
# origin names
#4 latin names

In [136]:
latin_names = []
for i in range(1,6):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:61/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
            # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        latin_names.append(name)

# Create a DataFrame with the names
latin_names = pd.DataFrame(latin_names, columns=['names'])
print(latin_names.shape)
latin_names.head()

Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
(606, 1)

         names
0  JEAN-CLAUDE
1    CHRISTIAN
2       DIDIER
3      OLIVIER
4        LEONA

In [137]:
latin_names_result = dealing_accent(latin_names)
latin_names_result.shape

(613, 1)

In [138]:
names_per_year = adding_to_df(latin_names_result, names_per_year, 'latin_names')

In [139]:
names_per_year.loc[names_per_year['latin_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,given_since2013,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names
62,AISSA,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,-9999.000000,5,0,0,284.0,3,Very Rare,2000s,0.0,0.0,1.0,0.0,1.0
71,ALAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1799.0,1,-50.988142,4,0,0,20326.0,50,Popular,1990s,0.0,0.0,0.0,1.0,1.0
72,ALANA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1144.0,1,25.842697,5,0,0,2045.0,17,Uncommon,2010s,0.0,0.0,0.0,0.0,1.0
108,ALIETTE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,-9999.000000,7,0,0,435.0,5,Rare,1940s,0.0,0.0,0.0,0.0,1.0
122,ALLAIN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,-9999.000000,6,0,0,1580.0,14,Uncommon,1940s,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2788,VIKTOR,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,608.0,1,-100.000000,6,0,0,608.0,7,Rare,2010s,0.0,0.0,0.0,0.0,1.0
2789,VINCENT,M,271.0,261.0,280.0,266.0,307.0,342.0,345.0,287.0,291.0,325.0,316.0,340.0,333.0,...,1402.0,1,-100.000000,7,0,0,232335.0,121,Very Popular,1980s,0.0,0.0,0.0,1.0,1.0
2794,VIRGIL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,-9999.000000,6,0,0,86.0,1,Very Rare,2000s,0.0,0.0,0.0,0.0,1.0
2795,VIRGILE,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,401.0,1,-100.000000,7,0,0,6101.0,41,Common,2000s,0.0,0.0,0.0,0.0,1.0
2800,VIVIEN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,-9999.000000,6,0,0,8612.0,35,Popular,1980s,0.0,0.0,0.0,0.0,1.0

In [140]:
# origin names
#5 french names

In [141]:
french_names = []
for i in range(1,5):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:38/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        french_names.append(name)

# Create a DataFrame with the names
french_names = pd.DataFrame(french_names, columns=['names'])
print(french_names.shape)
french_names.head()

Status code: 200
Status code: 200
Status code: 200
Status code: 200
(470, 1)

       names
0        IDA
1     SIMONE
2  CHRISTIAN
3        LEO
4     YVONNE

In [142]:
french_names_result = dealing_accent(french_names)
french_names_result.shape

(491, 1)

In [143]:
names_per_year = adding_to_df(french_names_result, names_per_year, 'french_names')

In [144]:
names_per_year.loc[names_per_year['french_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,given_yn,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names
11,ABEL,M,428.0,506.0,519.0,499.0,476.0,522.0,510.0,538.0,522.0,572.0,524.0,490.0,503.0,...,1,54.503464,4,0,0,25221.0,76,Popular,1900s,0.0,0.0,0.0,1.0,0.0,1.0
28,ADELAIDE,F,194.0,188.0,172.0,177.0,166.0,152.0,170.0,159.0,146.0,143.0,146.0,147.0,142.0,...,0,-9999.000000,8,0,0,7299.0,48,Common,1980s,0.0,0.0,0.0,0.0,0.0,1.0
29,ADELE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,-100.000000,5,0,0,1492.0,7,Uncommon,2010s,0.0,0.0,0.0,0.0,0.0,1.0
31,ADELINE,F,224.0,218.0,204.0,227.0,227.0,215.0,179.0,182.0,198.0,168.0,174.0,158.0,156.0,...,1,-100.000000,7,0,0,52483.0,85,Very Popular,1980s,0.0,0.0,0.0,1.0,0.0,1.0
42,ADRIEN,M,848.0,926.0,972.0,987.0,1018.0,981.0,1034.0,1034.0,1058.0,1048.0,1088.0,952.0,1108.0,...,1,-53.345900,6,0,0,137757.0,116,Very Popular,1990s,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,YVETTE,F,0.0,98.0,156.0,179.0,241.0,320.0,360.0,427.0,498.0,611.0,722.0,881.0,1097.0,...,0,-9999.000000,6,0,0,202783.0,73,Very Popular,1930s,0.0,0.0,0.0,1.0,0.0,1.0
2889,YVON,M,0.0,0.0,0.0,0.0,0.0,85.0,94.0,93.0,143.0,136.0,135.0,150.0,191.0,...,0,-9999.000000,4,0,0,38992.0,70,Very Popular,1950s,0.0,0.0,0.0,0.0,0.0,1.0
2890,YVONNE,F,5096.0,5715.0,5930.0,6085.0,6771.0,6929.0,6973.0,7142.0,7428.0,7359.0,7663.0,7407.0,7848.0,...,0,-9999.000000,6,0,0,256118.0,69,Very Popular,1920s,0.0,0.0,0.0,0.0,0.0,1.0
2915,ZOE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,-100.000000,3,0,0,4603.0,8,Common,2010s,0.0,0.0,1.0,1.0,0.0,1.0
2918,ZOÉ,F,131.0,146.0,138.0,158.0,124.0,130.0,113.0,105.0,109.0,123.0,104.0,95.0,81.0,...,1,-50.423177,3,0,0,63345.0,53,Very Popular,2000s,0.0,0.0,1.0,1.0,0.0,1.0

In [145]:
# origin names
#6 italian names

In [146]:
italian_names = []
for i in range(1,2):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:19/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        italian_names.append(name)

# Create a DataFrame with the names
italian_names = pd.DataFrame(italian_names, columns=['names'])
print(italian_names.shape)
italian_names.head()

Status code: 200
(129, 1)

      names
0    STELLA
1  VIRGINIA
2    ANDREA
3  ANGELINA
4   ANTONIO

In [147]:
italian_names_result = dealing_accent(italian_names)
italian_names_result.shape

(129, 1)

In [148]:
pd.set_option('display.max_rows', 10)

In [149]:
names_per_year = adding_to_df(italian_names_result, names_per_year, 'italian_names')

In [150]:
names_per_year.loc[names_per_year['italian_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,popularity,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names
21,ADA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9999.000000,3,0,0,84.0,1,Very Rare,2020s,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40,ADRIANO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-100.000000,7,0,0,935.0,10,Rare,2010s,0.0,0.0,0.0,0.0,0.0,0.0,1.0
86,ALESSIO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,241.033435,7,0,0,7610.0,19,Popular,2010s,0.0,0.0,0.0,0.0,0.0,0.0,1.0
106,ALIDA,F,0.0,0.0,0.0,96.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-9999.000000,5,0,0,180.0,2,Very Rare,1900s,0.0,0.0,0.0,0.0,0.0,0.0,1.0
127,ALONZO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-9999.000000,6,0,0,80.0,1,Very Rare,2010s,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,TIMEO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-100.000000,5,0,0,16228.0,17,Popular,2000s,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2772,VALENTINA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,101.219512,9,0,0,3771.0,11,Common,2010s,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2774,VALENTINO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.843373,9,0,0,793.0,9,Rare,2010s,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2790,VINCENZO,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-100.000000,8,0,0,168.0,2,Very Rare,1960s,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2796,VIRGINIA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-9999.000000,8,0,0,807.0,7,Rare,1980s,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [151]:
# origin names
#7 celt names

In [152]:
celt_names = []
for i in range(1,5):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:54/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        celt_names.append(name)

# Create a DataFrame with the names
celt_names = pd.DataFrame(celt_names, columns=['names'])
print(celt_names.shape)
celt_names.head()

Status code: 200
Status code: 200
Status code: 200
Status code: 200
(433, 1)

    names
0  AUDREY
1   KELLY
2   NOLAN
3   JENNA
4   CLYDE

In [153]:
celt_names_result = dealing_accent(celt_names)
celt_names_result.shape

(433, 1)

In [154]:
names_per_year = adding_to_df(celt_names_result, names_per_year, 'celt_names')

In [155]:
names_per_year.loc[names_per_year['celt_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,lenght,hyphen,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names,celt_names
13,ABIGAELLE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9,0,0,539.0,5,Rare,2000s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47,AEDAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5,0,0,338.0,3,Very Rare,2010s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
56,AIDAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5,0,0,1007.0,9,Rare,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
69,ALAIN,M,97.0,118.0,125.0,138.0,151.0,152.0,145.0,167.0,162.0,160.0,211.0,188.0,195.0,...,5,0,0,506203.0,105,Very Popular,1950s,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
71,ALAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4,0,0,20326.0,50,Popular,1990s,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749,TRISTAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7,0,0,41495.0,54,Very Popular,2000s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2750,TRYSTAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7,0,0,363.0,4,Very Rare,2000s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2839,YANNICK,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7,0,1,4265.0,29,Common,1960s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2840,YANNICK,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7,0,1,85533.0,68,Very Popular,1970s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2869,YOUENN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6,0,0,414.0,5,Very Rare,2010s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [156]:
# origin names
#8 english names

In [157]:
english_names = []
for i in range(1,7):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:69/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        english_names.append(name)

# Create a DataFrame with the names
english_names = pd.DataFrame(english_names, columns=['names'])
print(english_names.shape)
english_names.head()

Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
(697, 1)

    names
0   AVERY
1   ISAAC
2   RILEY
3    ELLA
4  STEVEN

In [158]:
english_names_result = dealing_accent(english_names)
english_names_result.shape

(564, 1)

In [159]:
names_per_year = adding_to_df(english_names_result, names_per_year, 'english_names')

In [160]:
names_per_year.loc[names_per_year['english_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,hyphen,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names,celt_names,english_names
1,AARON,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,33494.0,25,Very Popular,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,ABBY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,2456.0,16,Uncommon,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
14,ABIGAIL,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,286.0,3,Very Rare,2000s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
18,ABRAHAM,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,91.0,1,Very Rare,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28,ADELAIDE,F,194.0,188.0,172.0,177.0,166.0,152.0,170.0,159.0,146.0,143.0,146.0,147.0,142.0,...,0,0,7299.0,48,Common,1980s,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2893,ZACHARY,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1685.0,17,Uncommon,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2894,ZACK,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1760.0,12,Uncommon,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2901,ZAYN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,2570.0,7,Uncommon,2020s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2915,ZOE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,4603.0,8,Common,2010s,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2918,ZOÉ,F,131.0,146.0,138.0,158.0,124.0,130.0,113.0,105.0,109.0,123.0,104.0,95.0,81.0,...,0,0,63345.0,53,Very Popular,2000s,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0

In [161]:
# origin names
#9 germanic names

In [162]:
germanic_names = []
for i in range(1,3):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:80/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        germanic_names.append(name)

# Create a DataFrame with the names
germanic_names = pd.DataFrame(germanic_names, columns=['names'])
print(germanic_names.shape)
germanic_names.head()

Status code: 200
Status code: 200
(263, 1)

     names
0    OSCAR
1     ERIC
2   AUDREY
3   ERNEST
4  LEONARD

In [163]:
germanic_names_result = dealing_accent(germanic_names)
germanic_names_result.shape

(268, 1)

In [164]:
names_per_year = adding_to_df(germanic_names_result, names_per_year, 'germanic_names')

In [165]:
names_per_year.loc[names_per_year['germanic_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,neutral,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names,celt_names,english_names,germanic_names
28,ADELAIDE,F,194.0,188.0,172.0,177.0,166.0,152.0,170.0,159.0,146.0,143.0,146.0,147.0,142.0,...,0,7299.0,48,Common,1980s,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
29,ADELE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1492.0,7,Uncommon,2010s,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
31,ADELINE,F,224.0,218.0,204.0,227.0,227.0,215.0,179.0,182.0,198.0,168.0,174.0,158.0,156.0,...,0,52483.0,85,Very Popular,1980s,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
35,ADOLPHE,M,495.0,575.0,560.0,545.0,540.0,560.0,554.0,588.0,593.0,584.0,584.0,506.0,511.0,...,0,15335.0,43,Popular,1900s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
44,ADÈLE,F,661.0,625.0,680.0,645.0,583.0,621.0,562.0,579.0,637.0,514.0,584.0,476.0,556.0,...,0,44086.0,82,Very Popular,2010s,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2766,ULRICH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1161.0,13,Rare,1980s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2777,VALERY,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3358.0,17,Common,1970s,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2815,WILFRIED,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,12177.0,32,Popular,1980s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2816,WILLIAM,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0,84.0,94.0,0.0,83.0,94.0,...,0,77753.0,112,Very Popular,1990s,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
2889,YVON,M,0.0,0.0,0.0,0.0,0.0,85.0,94.0,93.0,143.0,136.0,135.0,150.0,191.0,...,0,38992.0,70,Very Popular,1950s,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [166]:
# origin names
#10 turkish names

In [167]:
turkish_names = []
for i in range(1,6):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:90/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        turkish_names.append(name)

# Create a DataFrame with the names
turkish_names = pd.DataFrame(turkish_names, columns=['names'])
print(turkish_names.shape)
turkish_names.head()

Status code: 200
Status code: 200
Status code: 200
Status code: 200
Status code: 200
(687, 1)

  names
0   AVA
1  SARA
2  ADAM
3  LENA
4  NEIL

In [168]:
turkish_names_result = dealing_accent(turkish_names)
turkish_names_result.shape

(687, 1)

In [169]:
names_per_year = adding_to_df(turkish_names_result, names_per_year, 'turkish_names')

In [170]:
names_per_year.loc[names_per_year['turkish_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,given_total,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names,celt_names,english_names,germanic_names,turkish_names
10,ABDULLAH,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,162.0,2,Very Rare,2010s,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21,ADA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,84.0,1,Very Rare,2020s,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
23,ADAM,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74815.0,38,Very Popular,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26,ADAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,260.0,3,Very Rare,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
32,ADEM,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11129.0,24,Popular,2010s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,SOULEYMANE,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4001.0,17,Common,2010s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2669,TARIK,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2325.0,17,Uncommon,1980s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2843,YASIN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2034.0,19,Uncommon,2000s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2882,YUSUF,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3296.0,20,Common,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2908,ZEYNEP,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1584.0,14,Uncommon,2010s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [171]:
# origin names
#11 biblic names

In [172]:
biblic_names = []
for i in range(1,2):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:35/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        biblic_names.append(name)

# Create a DataFrame with the names
biblic_names = pd.DataFrame(biblic_names, columns=['names'])
print(biblic_names.shape)
biblic_names.head()

Status code: 200
(87, 1)

       names
0      FELIX
1    GABRIEL
2  GABRIELLE
3    NICOLAS
4       PAUL

In [173]:
biblic_names_result = dealing_accent(biblic_names)
biblic_names_result.shape

(91, 1)

In [174]:
names_per_year = adding_to_df(biblic_names_result, names_per_year, 'biblic_names')

In [175]:
names_per_year.loc[names_per_year['biblic_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,count,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names,celt_names,english_names,germanic_names,turkish_names,biblic_names
11,ABEL,M,428.0,506.0,519.0,499.0,476.0,522.0,510.0,538.0,522.0,572.0,524.0,490.0,503.0,...,76,Popular,1900s,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
13,ABIGAELLE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5,Rare,2000s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
18,ABRAHAM,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,Very Rare,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
23,ADAM,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38,Very Popular,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
41,ADRIEL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5,Rare,2020s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,SARA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,52,Very Popular,2000s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2513,SARAH,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,61,Very Popular,1990s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2633,SUZANNE,F,4954.0,5328.0,5620.0,5775.0,6059.0,6283.0,6740.0,6813.0,7053.0,7135.0,7543.0,7194.0,7466.0,...,123,Very Popular,1920s,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2694,THEOPHILE,M,309.0,290.0,290.0,318.0,325.0,312.0,291.0,299.0,342.0,277.0,323.0,270.0,287.0,...,61,Popular,1900s,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2704,THOMAS,M,94.0,0.0,92.0,80.0,90.0,94.0,93.0,0.0,97.0,89.0,100.0,0.0,94.0,...,93,Very Popular,1990s,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [176]:
# origin names
#12 viking names

In [177]:
viking_names = []
for i in range(1,2):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:76/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        viking_names.append(name)

# Create a DataFrame with the names
viking_names = pd.DataFrame(viking_names, columns=['names'])
print(viking_names.shape)
viking_names.head()

Status code: 200
(98, 1)

    names
0   ERIKA
1   OSCAR
2    ERIC
3  KARINE
4    ERIK

In [178]:
viking_names_result = dealing_accent(viking_names)
viking_names_result.shape

(99, 1)

In [179]:
names_per_year = adding_to_df(viking_names_result, names_per_year, 'viking_names')

In [180]:
names_per_year.loc[names_per_year['viking_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,category,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names,celt_names,english_names,germanic_names,turkish_names,biblic_names,viking_names
289,ASTRID,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Popular,1980s,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
399,BRENDA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Common,1990s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
726,ELSA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Very Popular,2000s,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
727,ELVIS,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Rare,1980s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
778,ERIC,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Very Popular,1960s,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,NILS,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Common,2000s,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2297,OSCAR,M,148.0,154.0,146.0,153.0,167.0,163.0,178.0,162.0,174.0,165.0,189.0,167.0,155.0,...,Popular,2010s,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2601,SOREN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Common,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2638,SWANN,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Uncommon,2010s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2639,SWANN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Common,2010s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [181]:
# origin names
#13 mythology names

In [182]:
mythology_names = []
for i in range(1,2):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:81/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        mythology_names.append(name)

# Create a DataFrame with the names
mythology_names = pd.DataFrame(mythology_names, columns=['names'])
print(mythology_names.shape)
mythology_names.head()

Status code: 200
(53, 1)

       names
0      DIANE
1  CONSTANCE
2   LAETITIA
3       ASIA
4     ATHENA

In [183]:
mythology_names_result = dealing_accent(mythology_names)
mythology_names_result.shape

(54, 1)

In [184]:
names_per_year = adding_to_df(mythology_names_result, names_per_year, 'mythology_names')

In [185]:
names_per_year.loc[names_per_year['mythology_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,decade_popularity,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names,celt_names,english_names,germanic_names,turkish_names,biblic_names,viking_names,mythology_names
20,ACHILLE,M,205.0,256.0,251.0,234.0,226.0,234.0,261.0,215.0,265.0,243.0,268.0,215.0,227.0,...,2010s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
307,AURORE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1980s,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
529,CLEMENCE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2010s,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
541,CLÉMENCE,F,638.0,699.0,669.0,645.0,648.0,610.0,624.0,594.0,590.0,542.0,533.0,449.0,478.0,...,2000s,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
554,CONSTANCE,F,210.0,240.0,225.0,203.0,241.0,194.0,243.0,220.0,192.0,160.0,166.0,194.0,167.0,...,2010s,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,LAETITIA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1980s,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1671,LUNA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2010s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1762,MAIA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2000s,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2524,SELENE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2000s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2783,VICTOIRE,F,206.0,214.0,220.0,204.0,203.0,179.0,191.0,189.0,193.0,156.0,165.0,166.0,148.0,...,2010s,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [186]:
# origin names
#13 fiction names => here I have to add 3 scraping (Disney, fary, heros)

In [187]:
disney_names = []
for i in range(1,2):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:77/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        disney_names.append(name)

# Create a DataFrame with the names
disney_names = pd.DataFrame(disney_names, columns=['names'])
print(disney_names.shape)
disney_names.head()

Status code: 200
(109, 1)

     names
0  GEORGES
1   HANNAH
2     JANE
3  JASMINE
4    HENRY

In [188]:
fairy_names = []
for i in range(1,2):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:36/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        fairy_names.append(name)

# Create a DataFrame with the names
fairy_names = pd.DataFrame(fairy_names, columns=['names'])
print(fairy_names.shape)
fairy_names.head()

Status code: 200
(62, 1)

    names
0   CINDY
1   ALICE
2   DAISY
3  ARTHUR
4   KAYLA

In [189]:
heros_names = []
for i in range(1,3):
    # assemble the url:
    start_at= str(i)
    url = "https://unprenom.fr/tous/categories:37/page-"+str(i)+"/"

    # download html with a get request:
    response = requests.get(url)

    # monitor the process by printing the status code
    print("Status code: " + str(response.status_code))

    # Parse the HTML content
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the div containing the names
    name_elements = soup.select('body > div > div > div > div > div > ul >a> li > div  ')

    # Extract names from each name element
    for element in name_elements:
        # Find the name within the element
        name = element.find('h5', class_="product-name product_title").text.strip()
        heros_names.append(name)

# Create a DataFrame with the names
heros_names = pd.DataFrame(heros_names, columns=['names'])
print(heros_names.shape)
heros_names.head()

Status code: 200
Status code: 200
(141, 1)

      names
0     CHLOÉ
1     TERRY
2   MELINDA
3      HUGO
4  THEODORE

In [190]:
fiction_names = pd.concat([heros_names, disney_names, fairy_names], axis=0, ignore_index=True)

In [191]:
fiction_names.shape

(312, 1)

In [192]:
fiction_names

           names
0          CHLOÉ
1          TERRY
2        MELINDA
3           HUGO
4       THEODORE
..           ...
307       TARZAN
308      AARICIA
309  PIMPRENELLE
310       SASHKA
311       ALISEA

[312 rows x 1 columns]

In [193]:
fiction_names_result = dealing_accent(fiction_names)
fiction_names_result.shape

(278, 1)

In [194]:
names_per_year = adding_to_df(fiction_names_result, names_per_year, 'fiction_names')

In [195]:
names_per_year.loc[names_per_year['fiction_names']==1]

,names,sexe,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,...,flower_names,arabic_names,greek_names,american_names,latin_names,french_names,italian_names,celt_names,english_names,germanic_names,turkish_names,biblic_names,viking_names,mythology_names,fiction_names
20,ACHILLE,M,205.0,256.0,251.0,234.0,226.0,234.0,261.0,215.0,265.0,243.0,268.0,215.0,227.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
28,ADELAIDE,F,194.0,188.0,172.0,177.0,166.0,152.0,170.0,159.0,146.0,143.0,146.0,147.0,142.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
38,ADRIAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50,AGNÈS,F,422.0,433.0,464.0,448.0,494.0,497.0,472.0,502.0,547.0,552.0,538.0,572.0,568.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
76,ALBERT,M,3357.0,3832.0,4086.0,4145.0,4306.0,4410.0,4383.0,4649.0,4699.0,4864.0,5022.0,4621.0,4832.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745,TONY,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2749,TRISTAN,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2798,VIVIANE,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2812,WENDY,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2818,WILLOW,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

## Export CSV

In [197]:
names_per_year.to_csv('C:/Users/tella/OneDrive/Dokumente/Ironhack/W9 Project/names_per_year.csv')